aim==3.17.5
datasets==2.5.1
gradio==4.8.0
joblib==1.2.0
lftk==1.0.9
lingfeat==1.0.0b19
matplotlib==3.5.3
nltk==3.8.1
numpy==1.21.4
optuna==3.4.0
pandas==1.3.5
scikit_learn==1.0.2
scipy==1.6.2
seaborn==0.13.0
spacy==3.3.0
torch==1.10.1+cu111
tqdm==4.64.1
transformers==4.22.2
